.PortfoliosPage {
}

.portfolios {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
  .portfolio {
    .image-data {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 15px;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        background-color: rgba(255, 255, 255, 0.925);
        transform-origin: center;
        transform: scale(0);
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
      }

      &:hover::before {
        transform: scale(1);
      }

      img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        border-radius: 10px;
      }

      .hover-items {
        list-style: none;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 2rem;
        visibility: hidden;

        li {
          a {
            padding: 1rem;
            text-decoration: none;
            font-family: inherit;
            border-radius: 10px;
            background-color: #037fff;
            color: white;

            &:not(:last-child) {
              margin-right: 2rem;
            }
          }
        }
      }

      &:hover {
        .hover-items {
          transition: all 0.5s ease-in-out 0.2s;
          visibility: visible;
          top: 50%;
        }
      }
    }

    h5 {
      font-size: 1rem;
      font-weight: 400;
      color: white;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #037fff;
        cursor: pointer;
      }
    }
  }
}
